.app-header {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-bg-color-500);
  padding: 0 2rem;
  box-sizing: border-box;

  .nav-items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-left: auto;
  }
}