.app-header {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-bg-color-500);
  padding: 1rem 2rem;
  box-sizing: border-box;

  .logo {
    height: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;

    &__small {}

    &__full {
      height: 48px;
      transform: translateX(-32px);
      width: 0;
      overflow: hidden;
    }

    &:hover {
      .logo__small {
      }

      .logo__full {
        height: 48px;
        width: 100%;
      }

    }
  }

  .nav-items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-left: auto;
    font-size: 1.2rem;

    li {
      color: var(--dark-font-color-500);

      &:hover {
        cursor: pointer;
        transform: translateY(-2px);
        transition: transform 0.4s ease-in-out;
        text-decoration: underline;

      }

      &.active {
        text-decoration: underline;
      }

      a {
        all: unset;
      }
    }

  }
}