<app-search-input
  placeholder="Search for movie..."
  [value]="searchText"
  (update)="onSearchChanged($event)"
  (search)="onSearch()"
></app-search-input>

<div
  class="movies-list"
  infinite-scroll
  [infiniteScrollDistance]="distance"
  [infiniteScrollThrottle]="throttle"
  (scrolled)="onScroll()"
>
  <movie-card
    class="animate-card"
    *ngFor="let movie of movies"
    [movie]="movie"
    style="--n: {{ movie.getIndex }}"
    (click)="router.navigate(['/movies', movie.id])"
  ></movie-card>
</div>

<mat-spinner *ngIf="loading"></mat-spinner>
